header{
    background-image:linear-gradient(125deg, yellow 1%,rgb(0, 162, 255)20%,white 99%);
    margin: 0;
    height: 75px;
    h1{
        text-align:center;
        text-transform:uppercase;
        color:white;
        -webkit-text-stroke: 1px black;
        text-stroke: 1px black;
        size: 60px;
        font-size:40px;
    }
    position:fixed;
    top:0;
    left:0;
    width:100vw;
}

nav{
    background-color: rgb(0,162,255);
    position:fixed;
    top:75px;
    left:0px;
    margin: 0;
    width:100vw;
    display:flex;
}
nav ul{
    list-style-type:none;
    margin:0px;
    padding:2px;
    display:flex;width:100%;
    text-align:center;
    justify-content:space-evenly;
}
nav li{
    display:inline;
    float:left;
}
nav li a{
    display:block;
    padding:0px 25px;
    background-color:white;
    border-radius:15px;
    color:blue;
    text-decoration:none;
}
nav li a.active{
    background-color:rgb(0,162,255);
    color:white;
}
nav li a:hover{
    background-color:blue;
    color:white;
}

.content{
    position:fixed;
    top:97px;
    left:0;
    display:flex;
    align-items:center;
    align-content:stretch;
    flex-wrap:wrap;
    gap:5px;
    padding:30px 5px;
    justify-content:space-evenly;
    width:100vw;
    overflow:auto;
    height:75vh;
    background-image:linear-gradient(to bottom,rgb(0,162,255)20%, aqua 40%,rgb(249,213,182)80%);
}
.raft{
    text-align:center;
    background-image:repeating-linear-gradient(to bottom,rgba(194, 172, 150, 0.816),rgba(194, 172, 150, 0.816) 1px, rgba(195, 135, 74, 0.777) 2px, rgba(195, 135, 74, 0.777) 25px,rgba(195, 135, 74, 0.376) 25px, rgba(195, 135, 74, 0.376) 28px);
    border-radius: 5px;
    border-style:outset;
    border-color:rgba(195, 135, 74, 0.376);
    flex:1 0 calc(28%);
    justify-content:center;
    align-items:center;
}


footer{
    background-color: rgb(249, 213, 182);
    position:fixed;
    bottom:0;
    right:0;
    height:25px;
    width:100vw;
    margin:0;
    text-align: right;
    opacity:1;
}

img{
    display: flex;
    max-width:25%;
}

.formButton{
    background-color: rgb(249,213,182);
    color:black;
    position:fixed;
    bottom:0px;
    right:0px;
    opacity:1;
    border:none;
    padding:5px;
    cursor:pointer;
}
.contactForm{
    display:none;
    position:fixed;
    bottom:0;
    Right:5px;
    border:none;
    background-color:white;
    color:black;
}
.formPopup{
    background-color: rgb(249,213,182);
    color:black;
    padding:5px;
    max-width:400px;
}
.formPopup input[type=text]{
    width:150px;
    background:white;
    color:black;
    outline:none; 
}
.formPopup input[type=textarea]{
    width:400px;
    height:150px;
    background:white;
    color:black;
    outline:none;
}
.formPopup input[type=text]:focus, .formPopup input[type=textarea]:focus{
    background-color: aqua;
    outline:black;
}